@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <strong>WhatsApp: </strong> 667 354 1999
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:oswaldo.andgar@gmail.com">oswaldo.andgar@gmail.com</a><br /> 
</address>